.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
  }
  
  .chatHeader__hash {
    color: gray;
    font-size: 30px;
    padding: 10px;
  }
  
  .chatHeader__left > h3 {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .chatHeader__right {
    display: flex;
    align-items: center;
    flex: 0.5;
    justify-content: space-between;
  }
  
  .chatHeader__right > .MuiSvgIcon-root {
    padding: 5px;
    cursor: pointer;
  }
  
  .chatHeader__right > .MuiSvgIcon-root:hover {
    color: #4fb185;
  }
  
  .chatHeader__search {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
  }
  
  .chatHeader__search > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
  }
  