.sidebar{
    display:flex;
    flex-direction: column;
    flex:0.25;
    height:100vh;
    background-color: var(--secondary);
}

.sidebar__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    background-color: var(--secondary);
    color:white;
    border-bottom:3px solid var(--border);
}
.sidebar__channels{
    flex:1;
}

.sidebar__channels {
  flex: 1;
}

.sidebar__expandMoreIcon {
  cursor: pointer;
}

.sidebar__expandMoreIcon:hover {
  color: white;
}

.sidebar__addChannelIcon {
  cursor: pointer;
}

.sidebar__addChannelIcon:hover {
  color: white;
}

.sidebar__channelsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: var(--secondary);
    color:gray;
}
.sidebar__header {
    display: flex;
    align-items: center;
  }

  .sidebar__voice, .sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
  }
  
  .sidebar__voiceInfo, .sidebar__profileInfo {
    flex: 1;
    padding: 10px;
  }

  .sidebar__voiceIcon {
    color: #4fb185;
  }
  
  .sidebar__voiceInfo > h3 {
    color: #4fb185;
  }
  
  .sidebar__voiceInfo > p {
    font-size: smaller;
  }
  
  .sidebar__voiceIcons > .MuiSvgIcon-root, .sidebar__profileIcons > .MuiSvgIcon-root {
    padding: 10px;
  }
  
  .sidebar__profileInfo > h3 {
    color: white;
  }