.sidebarChannel:hover >h4{
    color:white;
    background-color:var(--primary);
}
.sidebarChannel > h4 {
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: var(--secondary);
    color: gray;
    cursor: pointer;
  }
  
  .sidebarChannel__hash {
    font-size: 30px;
    padding: 8px;
  }